#app {
  max-width: 850px;
  margin: 0 auto;
}

nav {
  padding: 20px 0 20px 0;
}

pre {
  background-color: #283747;
}

#bar {
  margin-right: 20px;
}

#bar-middle{
  margin-right: 20px;
  margin-left: 20px;
}





